
<!doctype html>
{%load static%}
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Modernize Free</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/7.0.0/css/all.min.css" integrity="sha512-DxV+EoADOkOygM4IR9yXP8Sb2qwgidEmeqAEmDKIOfPRQZOWbXCzLC6vjbZyy0vPisbH2SyW27+ddLVCN+OMzQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="shortcut icon" type="image/png" href="{% static 'dashboard/src/assets/images/logos/favicon.png'%}" />
  <link rel="stylesheet" href="{% static 'dashboard/src/assets/css/styles.min.css'%}" />







<style>
  .hero-image-wrapper {
    max-width: 900px;
    margin: 0 auto;
    padding: 24px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-image-wrapper img {
    width: 100%;
    max-height: 420px;
    object-fit: cover;
    border-radius: 16px;
  }
</style>









</head>

<body>
  <!--  Body Wrapper -->
    
  <div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <!-- Sidebar Start -->
      
   <aside class="left-sidebar ">
    
      <!-- Sidebar scroll-->
      <div>
        <div class="brand-logo nav-brand d-flex align-items-center justify-content-between px-4">
          <h2 class="fw-bolder  " style="color:purple;">TransitX</h2>
          
          <div class="close-btn d-xl-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
            <i class="ti ti-x fs-8"></i>
          </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar="init"><div class="simplebar-wrapper selected" style="margin: 0"><div class="simplebar-height-auto-observer-wrapper"><div class="simplebar-height-auto-observer"></div></div><div class="simplebar-mask selected"><div class="simplebar-offset selected" style="right: 0px; bottom: 0px;"><div class="simplebar-content-wrapper selected" tabindex="0" role="region" aria-label="scrollable content" style="height: 100%; overflow: hidden scroll;"><div class="simplebar-content selected" style="padding: 0px 24px;">
          <ul id="sidebarnav" class="in">
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Home</span>
            </li>
            <li class="sidebar-item ">
              <a class="sidebar-link " href="{%url 'stud_dashboard'%}" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-house"></i>
                </span>
                <span class="hide-menu">Dashboard</span>
              </a>
            </li>
            <li class="sidebar-item">
              <a class="sidebar-link" href="./ui-card.html" aria-expanded="false">
                <span>
                  <i class="ti ti-qrcode"></i>
                </span>
                <span class="hide-menu">View QR Code</span>
              </a>
            </li>
            <li class="nav-small-cap">
              <i class="ti ti-dots nav-small-cap-icon fs-4"></i>
              <span class="hide-menu">Profile</span>
            </li>
            <li class="sidebar-item ">
              <a class="sidebar-link " href="{%url 'stud_profile'%}" aria-expanded="false">
                <span>
                  <i class="ti ti-user"></i>
                </span>
                <span class="hide-menu">View Profile</span>
              </a>
            </li>
             <li class="sidebar-item ">
              <a class="sidebar-link active " href="{%url 'display_stud_bus'%}" aria-expanded="false">
                <span>
                  <i class="fa-solid fa-bus"></i>
                </span>
                <span class="hide-menu">My Bus</span>
              </a>
            </li>
           
            
            
            <li class="sidebar-item">
              <a class="sidebar-link" href="./authentication-login.html" aria-expanded="false">
                <span>
                  <i class="ti ti-logout"></i>
                </span>
                <span class="hide-menu">Logout</span>
              </a>
            </li>
           </ul>
          
        </div></div></div></div><div class="simplebar-placeholder" style="width: auto; height: 888px;"></div></div><div class="simplebar-track simplebar-horizontal" style="visibility: hidden;"><div class="simplebar-scrollbar" style="width: 0px; display: none;"></div></div><div class="simplebar-track simplebar-vertical" style="visibility: visible;"><div class="simplebar-scrollbar" style="height: 545px; transform: translate3d(0px, 0px, 0px); display: block;"></div></div></nav>
        <!-- End Sidebar navigation -->
      </div>
      <!-- End Sidebar scroll-->
  </aside>

  


  
  
<header class="app-header w-100  ">
    
  <nav class="navbar  border-bottom border-2 navbar-expand-lg navbar-light">
          <ul class="navbar-nav">
            <li class="nav-item d-block d-xl-none">
              <a class="nav-link sidebartoggler nav-icon-hover" id="headerCollapse" href="javascript:void(0)">
                <i class="ti ti-menu-2"></i>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link nav-icon-hover" href="javascript:void(0)">
                <i class="ti ti-bell-ringing"></i>
                <div class="notification bg-primary rounded-circle"></div>
              </a>
            </li>
          </ul>
          <div class="navbar-collapse justify-content-end px-0" id="navbarNav">
            <ul class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
              <li class="nav-item dropdown">
                {% comment %} <a class="nav-link nav-icon-hover" href="javascript:void(0)" id="drop2" data-bs-toggle="dropdown" aria-expanded="false">
                  <img src="{{student.Stud_Profile_Pic.url}}" alt="" width="35" height="35" class="rounded-circle">
                </a> {% endcomment %}
                <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body mx-auto  ">
                    <a href="javascript:void(0)" class=" d-flex align-items-center  gap-2 dropdown-item">
                      

                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3 ">My Profile</p>
                      
                    </a>
                  <a href="{%url 'logout_fn'%}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </li>
            </ul>
          </div>
            <div class="d-flex ms-auto align-items-center gap-3">

      <div class="nav-item dropdown">
        <a class="nav-link nav-icon-hover" data-bs-toggle="dropdown">
          <img src="{{student_data.Stud_Profile_Pic.url}}"
               width="35" height="35"
               class="rounded-circle object-fit-cover">
        </a>

         <div class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up" aria-labelledby="drop2">
                  <div class="message-body mx-auto  ">
                    <a href="javascript:void(0)" class=" d-flex align-items-center  gap-2 dropdown-item">
                      

                        <i class="ti ti-user fs-6"></i>
                        <p class="mb-0 fs-3 ">My Profile</p>
                      
                    </a>
                  <a href="{%url 'logout_fn'%}" class="btn btn-outline-primary mx-3 mt-2 d-block">Logout</a>
                  </div>
                </div>
              </div>
      </div>

  
  </nav>
</header>
<div class="container  d-flex pt-5 justify-content-center align-items-center w-50 py-4" style="height:65vh;">
  <div class="card mt-5 pt-3  border shadow-lg shadow-sm rounded-4" style="height:50vh; width:100%;">
    <div class="card-body mb-5 pb-5">
      
      <h4 class="card-title fw-bold display-5 text-center mb-4">Bus Schedule</h4>

      <table class="table  table-striped table-hover fs-6">
        <thead class=" table-dark">
          <tr>
            <th scope="col">Bus Number</th>
            <th scope="col">Bus Route</th>
            <th scope="col">Arrival Time</th>
            <th scope="col">Departure Time</th>
          </tr>
        </thead>
        <tbody>
          {% for i in busdata %}
          <tr>
            
            <td class="fw-bold">{{ i.Bus_No }}</td>
            <td class="fw-bold" >{{ i.Bus_Route }}</td>
            <td>
              <span class="badge rounded-pill bg-success-subtle text-success px-3 py-2 fw-semibold">
                {{ i.Arrival }}
              </span>
            </td>
            
            <!-- Departure -->
            <td>
              <span class="badge  rounded-pill bg-danger-subtle text-danger px-3 py-2 fw-semibold">
                {{ i.Departure }}
              </span>
            </td>
          </tr>
          {% empty %}
          <tr>
            <td colspan="4" class="text-center text-muted py-3">
              No bus data available
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>

    </div>
  </div>
</div>




 
  <script src="{% static 'dashboard/src/assets/libs/jquery/dist/jquery.min.js'%}"></script>
  <script src="{% static 'dashboard/src/assets/libs/bootstrap/dist/js/bootstrap.bundle.min.js'%}"></script>
  <script src="{% static 'dashboard/src/assets/js/sidebarmenu.js'%}"></script>
  <script src="{% static 'dashboard/src/assets/js/app.min.js'%}"></script>
  <script src="{% static 'dashboard/src/assets/libs/apexcharts/dist/apexcharts.min.js'%}"></script>
  <script src="{% static 'dashboard/src/assets/libs/simplebar/dist/simplebar.js'%}"></script>
  <script src="{% static 'dashboard/src/assets/js/dashboard.js'%}"></script>
</body>

</html>





